
#order_pizza{
  display: flex;
  flex-direction: row;
  margin: 2rem;
  justify-content: space-evenly;
  padding-bottom: 2rem;
  /* padding-top: 2rem; */
  /* background-color: white; */

  
}
h2{
  color: black;
  
}
h2:hover{
  color: palevioletred;
}

